.animated {
  animation-fill-mode: both;
  animation-duration: var(--animate-duration, 0.2s);
  animation-timing-function: cubic-bezier(0, 0, 0.2, 1);

  &.fadeInRight {
    animation-name: fadeInRight;
  }

  &.fadeOutRight {
    animation-name: fadeOutRight;
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeOutRight {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
}

.dropdown-animation {
  opacity: 0;
  animation: fadeMoveDown 0.15s forwards;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes fadeMoveDown {
  to {
    opacity: 1;
    transform: translateY(6px);
  }
}

@keyframes slideDown {
  from {
    transform: translateX(-50%);
    opacity: 0;
    clippath: circle(0% at center);
  }

  to {
    transform: translateX(-50%);
    opacity: 0.8;
    clippath: circle(100% at center);
  }
}

@keyframes slideDownChatStarted {
  from {
    transform: translateX(-50%);
    opacity: 0;
    clippath: circle(0% at center);
  }

  to {
    transform: translateX(-50%);
    opacity: 0.4;
    clippath: circle(100% at center);
  }
}

@keyframes slideDownBackground {
  from {
    opacity: 0;
    clippath: circle(0% at center);
  }

  to {
    opacity: 0.6;
    clippath: circle(100% at center);
  }
}

@keyframes slideDownDesktop {
  from {
    opacity: 0;
    clippath: circle(0% at center);
  }

  to {
    opacity: 1;
    clippath: circle(100% at center);
  }
}

@keyframes slideDownBackgroundDesktop {
  from {
    opacity: 0;
    clippath: circle(0% at 50% 25%);
  }

  to {
    opacity: 0.6;
    clippath: circle(100% at 50% 25%);
  }
}

.shimmer-text {
  background-image: linear-gradient(
    90deg,
    var(--color-text-subtle) 0%,
    var(--color-text-subtle) 45%,
    #bbb 50%,
    var(--color-text-subtle) 55%,
    var(--color-text-subtle) 100%
  );
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: shimmer 5s infinite linear;
}

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
