/* 스크롤바 스타일 */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #999;
}

/* 다크 테마 스크롤바 스타일 */
html[data-theme='dark'] {
  ::-webkit-scrollbar-thumb {
    background: #444;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
