.BaseChat {
  &[data-chat-visible='false'] {
    --workbench-inner-width: 100%;
    --workbench-left: 0;

    .Chat {
      --at-apply: bolt-ease-cubic-bezier;
      transition-property: transform, opacity;
      transition-duration: 0.3s;
      will-change: transform, opacity;
      transform: translateX(-50%);
      opacity: 0;
    }
  }
}

.Chat {
  opacity: 1;
  margin-right: 10px;
  padding-right: 0px;
  box-sizing: border-box;
}

.PromptEffectContainer {
  position: absolute;
  pointer-events: none;
  inset: 0;
  border-radius: 16px;
  overflow: visible;
  z-index: -1;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 16px;
    background: repeating-conic-gradient(from var(--angle), #3fd2e8, #ffe5a3);
    animation: rotate 4s linear infinite;
  }

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 16px;
    background: repeating-conic-gradient(from var(--angle), #3fd2e8, #ffe5a3);
    animation: rotate 4s linear infinite;
    filter: blur(32px);
    opacity: 0.4;
  }
}

.PromptEffectInner {
  position: absolute;
  inset: 1.5px;
  background: var(--color-bg-primary, #111315);
  border-radius: 14px;
  z-index: 1;
}

@property --angle {
  syntax: '<angle>';
  inherits: false;
  initial-value: 0deg;
}

@keyframes rotate {
  0% {
    --angle: 0deg;
  }
  100% {
    --angle: 360deg;
  }
}

.promptInputActive {
  border-radius: var(--border-radius-16, 16px);
  background: var(--color-bg-primary, #111315);
  /* Elevation/Light/2 */
  box-shadow:
    0 2px 8px 2px rgba(26, 220, 217, 0.12),
    0 8px 56px 8px rgba(148, 250, 239, 0.16);
}

/* 순환하는 placeholder 애니메이션 스타일 */
.placeholderAnimationIn {
  animation: slideInUp 0.5s forwards;
}

.placeholderAnimationOut {
  animation: slideOutUp 0.5s forwards;
}

@keyframes slideInUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideOutUp {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-20px);
    opacity: 0;
  }
}
